@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    color: #242424;
    line-height: 1.3;
    font-size: 48px;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 12px;
}

.nav__logo img, .nav__logo figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.nav__logo__text {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.03em;
}

.nav__groups {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 72px;
}

.nav__links, .sign-up__log-in{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav__links {
    gap: 40px;
}

.nav__link {
    text-decoration: none;
    cursor: pointer;
}

.sign-up__log-in {
    gap: 24px;
}

.sign-up__log-in li {
    cursor: pointer;
}

.sign-up__log-in button {
    font-size: 14px;
    padding: 12px 32px;

}

.button--standard {
    padding: 14px 36px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 32px;
    color: white;
    border: none;
    background-color: #6415ff;
    cursor: pointer;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    text-decoration: none;
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.header--left {
    display: flex;
    box-sizing: border-box;
    width: 40%;
    flex-direction: column;
    padding: 0;
    gap: 24px;
    height: fit-content;
}

.header__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 448px;
    position: relative;
}

.header__form input {
    flex-grow: 1;
    font-size: 16px;
    padding: 20px 185px 20px 20px;
    border-radius: 40px;
    border: 2px solid #e5e7eb;
}

.header__form input:active {
    border:#6415ff;
}

.header__form button {
    position: absolute;
    right: 8px;
    top: 8px;
}

.header--right {
    width: 60%;
}

.header--right img {
    width: 100%;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {

    .nav__groups {
        display: none;
    }

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    .header--left {
        width: 100%;
        max-width: 560px;
        padding: 0;
        align-items: center;
        text-align: center;
    }

    h1 {
        font-size: 30px;
    }

    .header__form input {
        flex-grow: 1;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    .nav__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }   
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 0;
        padding-bottom: 4px;
    }

    .header__form {
        gap: 16px;
    }

    .header__form input {
        padding: 20px;
    }
    .header__form button {
        padding: 20px;
        width: 100%;
        position: unset;
    }

    main {
        margin-bottom: 80px;
    }
}